# Predicción de Atraso en Vuelos

### 1. Librerias

In [7]:
#### Análisis exploratorio #################
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#### Configuración #########################
from pathlib import Path
import warnings
warnings.filterwarnings('ignore')

### 2. Descripción del Dataset

### 2.1 Descripción de las columnas

1. **Fecha-I** : Fecha y hora programada del vuelo. 
2. **Vlo-I**   : Número de vuelo programado.
3. **Ori-I**   : Código de ciudad de origen programado. 
4. **Des-I**   : Código de ciudad de destino programado. 
5. **Emp-I**   : Código aerolínea de vuelo programado. 
6. **Fecha-O** : Fecha y hora de operación del vuelo.
7. **Vlo-O**   : Número de vuelo de operación del vuelo.
8. **Ori-O**   : Código de ciudad de origen de operación.
9. .**Des-O**  : Código de ciudad de destino de operación.
10. **Emp-O**  : Código aerolínea de vuelo operado.
11. **DIA**    : Día del mes de operación del vuelo.
12. **MES**    : Número de mes de operación del vuelo.
13. **AÑO**       : Año de operación del vuelo.
14. **DIANOM**    : Día de la semana de operación del vuelo. 
15. **TIPOVUELO** : Tipo de vuelo, I =Internacional, N =Nacional. 
16. **OPERA**     : Nombre de aerolínea que opera.
16. **SIGLAORI**  : Nombre ciudad origen.
17. **SIGLADES**  : Nombre ciudad destino.

### 3. Carga datos

In [8]:
# Definición ruta acceso a los datos

DATA = Path('/Users/claudiocollaobahamondes/Desktop/desafio/pred_atraso_vuelos/data')

# Validación si existe la carpeta data
DATA.exists()

True

In [15]:
# Por definición se fuerza a las columnas Fecha-I y Fecha-O tengan formato de fecha cuando se cargan los datos

df=pd.read_csv(DATA/'dataset_SCL.csv',parse_dates=['Fecha-I','Fecha-O'],infer_datetime_format=True)

In [16]:
# Validación de los formatos por columna

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68206 non-null  datetime64[ns]
 1   Vlo-I      68206 non-null  object
 2   Ori-I      68206 non-null  object
 3   Des-I      68206 non-null  object
 4   Emp-I      68206 non-null  object
 5   Fecha-O    68206 non-null  datetime64[ns]
 6   Vlo-O      68205 non-null  object
 7   Ori-O      68206 non-null  object
 8   Des-O      68206 non-null  object
 9   Emp-O      68206 non-null  object
 10  DIA        68206 non-null  int64
 11  MES        68206 non-null  int64
 12  AÑO        68206 non-null  int64
 13  DIANOM     68206 non-null  object
 14  TIPOVUELO  68206 non-null  object
 15  OPERA      68206 non-null  object
 16  SIGLAORI   68206 non-null  object
 17  SIGLADES   68206 non-null  object
dtypes: datetime64[ns](2), int64(3), object(13)
memory usage: 9.4+ MB